@import "tailwindcss";

@theme {
  /* This defines the 'font-nav' utility class in Tailwind v4 */
  --font-nav: "Radio Canada Big", sans-serif;
  
  /* This defines the 'font-serif' utility class for your headings */
  --font-serif: "Source Serif 4", Georgia, serif;
}